<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- css -->
    <link rel="stylesheet" href="../app/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="../app/css/style.css">
    <link rel="stylesheet" href="../app/css/font-awesome.min.css">
    

</head>
<body>
    <div class="header">
        <div class="top-header">
            <div class="container">
                <div class="row row-header">
                    <div class="col-xl-6 date-header">
                        <img src="../app/img/header_icon2.png" alt=""><script> document.write(" Ngày "+new Date().getDate()+" Tháng "+new Date().getMonth()+" Năm "+new Date().getFullYear());</script>
                    </div>
                    <div class="col-xl-6 info-header">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-facebook"></i></a>
                    </div>
                </div>
               
            </div>
            
            
        </div>
        
        <div id="navbar">              
            <ul id="navigation">
                <li><a href="../index.html">Home</a></li>
                <li><a href="#">Category</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="latest_news.html">Latest News</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="#">Pages</a>
                    <ul class="sub-menu">
                        <li><a href="elements.html">Element</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="details.html">Categori Details</a></li>
                    </ul>
                </li>
                
            </ul>
        </div>
        <div class="container" style="display: flex;">
            <div class="trending-title">
                <marquee >Chúc bạn ngày mới tốt lành.</marquee>
            </div>
            <div class="search-box">
                <form action="#">
                    <input type="text" placeholder=" Search" >
                    <i class="fas fa-search special-tag"></i>
                </form>  
            </div>  
        </div>  
    </div>   
    <div class="latest-news">
        <div class="container">
            <div class="latest-wrapper">
                <!-- section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle mb-30">
                            <h3>Latest News</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="latest-news-active d-flex row">
                            <div class="latest-single col-3 mb-40">
                                <div class="latest-img" >
                                    <img src="../app/img/trending_top.jpg" alt="">
                                </div>
                                <div class="latest-caption">
                                    <span class="color1">Corporate</span>
                                    <p>25 Jan 2020</p>
                                    <h4><a href="#">Welcome To The Best Model  Winner Contest</a></h4>
                                </div>
                            </div> 
                            <div class="latest-single col-3">
                                <div class="latest-img">
                                    <img src="../app/img/right1.jpg" alt="">
                                </div>
                                <div class="latest-caption">
                                    <span class="color1">Event night</span>
                                    <p>25 Jan 2020</p>
                                    <h4><a href="#">Welcome To The Best Model  Winner Contest</a></h4>
                                </div>
                            </div> 
                            <div class="latest-single col-3">
                                <div class="latest-img">
                                    <img src="../app/img/header_icon2.png" alt="">
                                </div>
                                <div class="latest-caption">
                                    <span class="color1">Corporate</span>
                                    <p>25 Jan 2020</p>
                                    <h4><a href="#">Welcome To The Best Model  Winner Contest</a></h4>
                                </div>
                            </div>
                             <div class="latest-single col-3">
                                <div class="latest-img">
                                    <img src="../app/img/trending_top.jpg" alt="">
                                </div>
                                <div class="latest-caption">
                                    <span class="color1">Event time</span>
                                    <p>25 Jan 2020</p>
                                    <h4><a href="#">Welcome To The Best Model  Winner Contest</a></h4>
                                </div>
                            </div>
                            <div class="latest-single col-3">
                                <div class="latest-img" >
                                    <img src="../app/img/trending_top.jpg" alt="">
                                </div>
                                <div class="latest-caption">
                                    <span class="color1">Corporate</span>
                                    <p>25 Jan 2020</p>
                                    <h4><a href="#">Welcome To The Best Model  Winner Contest</a></h4>
                                </div>
                            </div> 
                            <div class="latest-single col-3">
                                <div class="latest-img">
                                    <img src="../app/img/right1.jpg" alt="">
                                </div>
                                <div class="latest-caption">
                                    <span class="color1">Event night</span>
                                    <p>25 Jan 2020</p>
                                    <h4><a href="#">Welcome To The Best Model  Winner Contest</a></h4>
                                </div>
                            </div> 
                            <div class="latest-single col-3">
                                <div class="latest-img">
                                    <img src="../app/img/header_icon2.png" alt="">
                                </div>
                                <div class="latest-caption">
                                    <span class="color1">Corporate</span>
                                    <p>25 Jan 2020</p>
                                    <h4><a href="#">Welcome To The Best Model  Winner Contest</a></h4>
                                </div>
                            </div>
                             <div class="latest-single col-3">
                                <div class="latest-img">
                                    <img src="../app/img/trending_top.jpg" alt="">
                                </div>
                                <div class="latest-caption">
                                    <span class="color1">Event time</span>
                                    <p>25 Jan 2020</p>
                                    <h4><a href="#">Welcome To The Best Model  Winner Contest</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="footer-area" style="margin-bottom:0">
        <div class="container">
            <div class="footer-top">
                <div class="row d-flex">
                    <div class="col-lg-8">
                        <div class="footer-content">
                            <strong>Trang tin tức hàng đầu tại Việt Nam</strong>
                            <p>
                                Nội dung thông tin tổng hợp từ tất cả các nguồn
                            </p>
                            <p>
                                Đơn vị chủ quản: Công ty Cổ phần Truyền thông- Chịu trách nhiệm: Cấn Văn Chiến
                            </p>
                            <p>
                                Địa chỉ: Kim Quan, Thạch thất, Hà Nội
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="wrap-contact">
                            <p>CONTACT</p>
                           <div class="email">
                                <h6>Email</h6>
                                <i class="far fa-envelope"></i>
                                <strong>canchien123@gmail.com</strong>
                           </div>
                           <div class="hotline">
                                <h6>Phone</h6>
                                <i class="fas fa-phone"></i>
                                <strong>0347214898</strong>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="container">
            <div class="footer-border">
                <div class="row d-flex">
                    <div class="col-lg-6">
                        <div class="footer-copy-right">
                            <p>
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="footer-menu f-right">
                            <ul>                             
                                <li><a href="#">Terms of use</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <button onclick="topFunction()" id="myBtn" title="Go to top">top</i></button>
   
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="../../app/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="../../app/js/main.js"></script>

    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>